services:
  - type: web
    name: equialert-stock-api
    runtime: docker
    plan: free
    region: oregon
    envVars:
      - key: PYTHON_VERSION
        value: "3.12.0"
      - key: ENVIRONMENT
        value: production
      - key: PORT
        value: 8000
    healthCheckPath: /health
    autoDeploy: true
    branch: main
